﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web
@using AngularGoogleMaps
@{
    Layout = "Master.cshtml";

    var dynamicMap = CurrentPage.Map;           //  Dynamic convertor
    var staticTypeMap = Model.Content.GetPropertyValue<AngularGoogleMaps.Model>("map");      //  Static type convertor

    string text = staticTypeMap;
}

@CurrentPage.GetGridHtml("content", "fanoe")

<h1>
    Test Dyanmic Property Convertor
</h1>
<p>
    <ul>
        <li>
            @dynamicMap.Latitude
        </li>
        <li>
            @dynamicMap.Longitude
        </li>
        <li>
            @dynamicMap.Zoom
        </li>

    </ul>
</p>

<h1>
    Test Static Property Convertor
<p>
    <ul>
        <li>
            @staticTypeMap.Latitude
        </li>
        <li>
            @staticTypeMap.Longitude
        </li>
        <li>
            @staticTypeMap.Zoom
        </li>
        <li>
            @text
        </li>
    </ul>
</p>